$custom-box-theme: ();
$custom-box-checkbox-theme: ();
$custom-box-radiobox-theme: ();

$custom-box-default-theme: (
    container: (
        _checked: (
            background-color: #b3e5fc
        ),
        _focus: (
            box-shadow: 0 0 5px #01579b
        ),
        background-color: #b3e5fc,
        border: 1px solid #01579b,
        border-radius: .2em,
        height: 1em,
        margin: 0 .5em 0 0,
        transition: all .1s ease-in-out,
        width: 1em
    ),
    tick: (
        background-color: #01579b,
        transition: all .1s ease-in-out
    )
);

$custom-box-default-checkbox-theme: (
    tick: (
        border-width: .2em,
        height: .6em,
        left: .075em,
        top: .2em,
        width: .4em
    )
);
$custom-box-default-radiobox-theme: (
    container: (
        border-radius: 50%,
    ),
    tick: (
        border-radius: 50%,
        height: .5em,
        left: .25em,
        top: .25em,
        width: .5em
    )
);
