$custom-box-theme: ();
$custom-box-checkbox-theme: ();
$custom-box-radiobox-theme: ();

$custom-box-default-theme: (
    container: (
        _checked: (
            background-color: #b3e5fc,
            border: 1px solid #01579b
        ),
        _focus: (
            box-shadow: 0 0 5px #01579b
        ),
        background-color: #b3e5fc,
        border: 1px solid #01579b,
        border-radius: .25rem,
        height: 1.25rem,
        margin: 0 .5rem 0 0,
        transition: all .1s ease-in-out,
        width: 1.25rem
    ),
    tick: (
        background-color: #01579b,
        transition: all .1s ease-in-out
    )
);

$custom-box-default-checkbox-theme: (
    tick: (
        border-width: .2rem,
        height: .6rem,
        left: .075rem,
        top: .2rem,
        width: .4rem
    )
);

$custom-box-default-radiobox-theme: (
    container: (
        border-radius: 50%,
    ),
    tick: (
        border-radius: 50%,
        height: .75rem,
        left: .25rem,
        top: .25rem,
        width: .75rem
    )
);
